/*
Theme Name: Plain minimal
Theme URI: 
Author: Riku Laajala
Author URI: 
Description: Very minimal theme 
License: GNU General Public License v2 or later
License URI: 
Text Domain: plainminimal
*/

/* import whole bootstrap library */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// components
@import "./components/navbar";
@import "./components/card";
@import "./components/sub-header";
@import "./components/container";
@import "./components/code";

// pages
@import "./pages/page-about";
@import "./pages/page-tutorials";
@import "./pages/single-tutorials";


h1 {
  margin-top: 60px;

}
h2 {
  margin-top: 40px;
}
h3 {

}


footer {
  margin-top: 50px;
  margin-bottom: 10px;
}