.card {
  border: 1px solid $gray-lighter;
  // padding: 20px;
  margin: 10px;
  height: 360px;
  overflow: hidden;
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  a.card-link {
    &:hover {
      text-decoration: none;
    }
  }
  .card-text {
    margin: 20px;
    min-height: 65px;
    .title {
      margin: 0;
      color: $gray-dark;
      &:hover {
        text-decoration: none;
      }
    }
    .excerpt {
      color: $gray-light;
      overflow: hidden;
      &:hover {
        text-decoration: none;
      }

    }
  }

  .card-thumbnail {
    height: 200px;
    overflow: hidden;
  }
}