// .code-wrapper {
//   text-align: center;
  code {
    font-size: 18px;
    display: inline-block;
    margin: 5px auto;
    padding: 10px 20px;
    background: black;
    color: $brand-warning;
    text-align: left;
    br {
      &::after {
        content: "~";
      }
    }
  }
// }