.navbar-default {
  // background: transparent;
  background: #fff;
    // border-color: $gray-lighter;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  @media screen and (max-width: $screen-xs-max) {
    background: #fff;
    border-color: $gray-lighter;
  }

  .navbar-header {
    position: absolute;
    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      
    }
    .navbar-toggle {
      border-color: transparent;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }

  .navbar-collapse { 
    @media screen and (max-width: $screen-xs-max) {
      background: $gray-lighter;
    }

    div {
    justify-content: center;
    display: flex;
    @media screen and (max-width: $screen-xs-max) {
     justify-content: flex-start;
    }

    ul {
      li {
        background-color: transparent;
        &.active a {
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
         a {
          background-color: transparent;
        }
      }
    } 
      a.active {
        background: none;
      }
    }
  }


}