.sub-header {
  margin-top: 30px;
  margin-bottom: 20px;
  a {
    color: $gray-dark;
    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid $gray-light;
    position: relative;
    bottom: -1px;
    display: inline-block;
    padding-bottom: 5px;
  }
  border-bottom: 1px solid $gray-lighter;
}