.single-tutorials {


.tutorial {
  // responsive, centered images
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  h2 {
    font-size: 36px;
  }

  .post-content {
    p {
      font-size: 18px;
      margin: 40px 0;
      line-height: 1.5;
      &.wp-caption {
        text-align: center;
      }
    }
  }

  .tutorial-posts-navigation {
    font-size: 16px;
    .previous, .next {
      display: inline-block;
      margin: 0 30px;
    }
  }
  }
}